.gameScore {
    text-align: center;
    height: 70px;
    position: relative;
    line-height: 1em;
    padding: 0;
    margin: 0;
  }
  div.gameScore {
  background-color: red;
  opacity: 0.7;
  /* background-image: url("https://images.pond5.com/dark-red-abstract-space-matter-footage-087351773_prevstill.jpeg"); */
  box-shadow: 0 0 10px red;
  }
  
  h3.score {
    color: white;
    margin-top: 0px;
    padding: 10px;;
    font-weight: 600;
  }
  h3.status{
    margin: -15px;
    padding: 0;
    color: white;
  }