body { 
  background-color: black;
}
a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.App {
  background-color: black;
}

.App-header {
  background-image: url("/img/banner.jpg");
  height: 250px;
  /* padding:5px; */
  color: white;
  margin-top: -5px;
}
#App-logo {
  margin-top: 0px;
  width: 100%;
  text-align: center;
  background-color: red;
  opacity: 0.8;
  /* box-shadow: 0 0 10px red; */
}

.App-title {
  font-family: 'Marvel', sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: white;
}

.App-intro {
  background-color: red;
  margin-top: -2px;
  padding-bottom: 5px;
  font-size: large;
  color: black;
}
.App-footer {
  /* box-shadow: 0 0 10px red; */
  text-align: center;
  background-color: black;
  color: red;
}

p {
  background-color: black;
}